{% extends "base.html" %}

{% block content %}
<h2>Отклики на мои вакансии</h2>
<ul>
    {% for response in responses %}
        <li>
            <p><strong>Вакансия:</strong> {{ response.job.title }}</p>
            <p><strong>Студент:</strong> {{ response.student.username }}</p>
            <p><strong>Дата отклика:</strong> {{ response.created_at }}</p>
            <a href="{{ response.resume.url }}" download>Скачать резюме</a>
        </li>
    {% empty %}
        <p>Пока никто не откликнулся.</p>
    {% endfor %}
</ul>
{% endblock %}
