{% extends "base.html" %}

{% block content %}
  <h2>Список вакансий</h2>
  <ul class="job-list">
    {% for job in jobs %}
      <li>
        <h3><a href="{% url 'job_detail' job.id %}">{{ job.title }}</a></h3> — {{ job.employer.username }}
        <p>{{ job.description }}</p>
        <p><strong>Дата публикации:</strong> {{ job.created_at }}</p>
        {% if user.is_authenticated and user != job.employer %}
            <a href="{% url 'apply_for_job' job.id %}">Откликнуться</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
