{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">УрФУ вакансии</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                    <li {% if section == "dashboard" %}class="selected"{% endif %}>
                        <a href="{% url "job_list" %}">Все вакансии</a>
                    </li>
                    {% if user.is_authenticated and user.profile.role != "employer" %}
                        <li {% if section == "people" %}class="selected"{% endif %}>
                            <a href="{% url 'student_responses' %}">Мои отклики</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated and user.profile.role != "employer" %}
                        <li {% if section == "people" %}class="selected"{% endif %}>
                            <a href="{% url 'post_search' %}">Искать вакансию</a>
                        </li>
                    {% endif %}   
                    {% if user.is_authenticated and user.profile.role == "employer" %}
                        <li {% if section == "people" %}class="selected"{% endif %}>
                            <a href="{% url 'employer_responses' %}">Отклики</a>
                        </li>
                    {% endif %}  
                    {% if user.is_authenticated and user.profile.role == "employer" %}
                        <li {% if section == "people" %}class="selected"{% endif %}>
                            <a href="{% url 'my_jobs' %}">Мои вакансии</a>
                        </li>
                    {% endif %}    
                    {% if user.is_authenticated and user.profile.role == "employer" %}
                        <li{% if section == "create vacancies" %}class="selected"{% endif %}>
                             <a href="{% url 'create_job' %}">Создать вакансию</a>
                        </li>
                       
                    {% endif %}

                </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username }},
                <a href="{% url "logout" %}">Выйти</a>
            {% else %}
                <a href="{% url "login" %}">Войти</a>
            {% endif %}
        </span> 
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>